
body 
    margin: 0
    padding: 20px
    font-family: Arial, Helvetica, sans-serif

.aboutme
    background-color: black
    color: white
    height: 500px
    margin-bottom: 10px

.languages
    height: 300px
    text-align: center
    .showtext 
        li 
            display: inline-block
            float: left 
            height: 100px
            width: 100px
            text-align: center
            letter-spacing: 0px
            transition: all 0.2s ease-in-out
            padding: 10px
            vertical-align: middle

            i 
                padding: 10px
    
            b 
                padding: 10px
                display: none
            
            &:hover i 
                display: none
            
            &:hover b 
                display: block

.hero
    text-align: center
    margin-bottom: 20px
    img 
        width: auto
        height: 300px

.threeSteps
    display: grid
    grid-template-columns: auto auto auto
    grid-column-gap: 5px
    margin-bottom: 10px
    text-align: center
    img
        width: auto
        height: 200px
    
    #step1
        background-color: blue

    #step2
        background-color: green

    #step3
        background-color: green

.projects
    display: grid
    grid-template-columns: auto auto auto
    grid-template-rows: auto auto 
    min-height: 60vh
    grid-column-gap: 10px
    grid-row-gap: 10px
    margin-bottom: 10px

    .project

    #project_1
        background-color: green

    #project_2
        background-color: red

    #project_3
        background-color: yellow

    #project_4
        background-color: blue

    #project_5
        background-color: black

    #project_6
        background-color: purple

@media screen and (max-width: 800px)
    .projects
        grid-template-columns: 1fr
        grid-template-rows: 1fr
        min-height: 40vh

i 
    padding-top: 80px
    padding-bottom: 10px
    font-size: 50px
    letter-spacing: 30px

i.none 
    letter-spacing: 0px
    padding-top: 80px
    text-align: center

.social
    height: 300px
    text-align: center 
    .social_icons
        li
            display: inline-block
            float: left 
            text-align: center
            letter-spacing: 0px
            transition: all 0.2s ease-in-out
            padding: 10px
            vertical-align: middle
            // border-radius: 50%
            // background-color: blue  

.fa
    background-color: blue
    padding: 20px
    font-size: 50px
    height: 60px
    width: 60px
    text-align: center
    text-decoration: none
    border-radius: 50%
    color: white

.fa:hover
    opacity: 0.7
            

// .social_icon 
//     color: green     

            // #Facebook
            //     background-color: red

// .languages
    // height: 300px
    // text-align: center
    // .showtext 
//         li 
            // display: inline-block
            // float: left 
            // height: 100px
            // width: 100px
            // text-align: center
            // letter-spacing: 0px
            // transition: all 0.2s ease-in-out
            // padding: 10px
            // vertical-align: middle

//             i 
//                 padding: 10px
    
//             b 
//                 padding: 10px
//                 display: none
            
//             &:hover i 
//                 display: none
            
//             &:hover b 
//                 display: block
