
body 
    margin: 0
    padding: 20px

.projects
    display: grid
    grid-template-columns: auto auto auto
    grid-template-rows: auto auto 
    min-height: 60vh
    grid-column-gap: 10px
    grid-row-gap: 10px
    text-align: center

    .project 

    #project_1
        background-color: green

    #project_2
        background-color: red

    #project_3
        background-color: yellow

    #project_4
        background-color: blue

    #project_5
        background-color: black

    #project_6
        background-color: purple

