.languages
    margin-top: 50px
    height: 200px

    li 
        display: inline-block
        float: left 
        height: 50px
        width: 50px
        letter-spacing: 0px
        padding: 10px

        b 
            padding: 10px
            display: none
        
        &:hover i 
            color: #1c76ff

        &:hover b 
            display: block

i 
    font-size: 60px
