.project-area
    max-width: 1000px
    margin: 20px auto
    display: grid    
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
    grid-gap: 30px
    grid-wrap: wrap
    padding-bottom: 100px

.project-main
    width: 250px
    height: 250px
    justify-self: center
    margin: auto
    background-size: 100%
    background-repeat: no-repeat
    position: relative
    border: solid black

.project-title
    width: 80%
    height: auto
    text-align: center
    font-size: 25px
    line-height: 60px
    margin: 15px auto
    text-transform: uppercase
    text-decoration: none 
    background-color: white
    color: red

.project-info
    position: absolute
    text-align: center
    width: 92%
    padding: 10px
    bottom: 0
    font-size: 17px
