.projects
    max-width: 90%
    margin: 20px auto
    display: grid    
    grid-template-columns: repeat(auto-fill, minmax(30%, 2fr))
    grid-gap: 30px
    grid-wrap: wrap

    .project
        border: 2px solid black
        background-color: white

@media screen and (max-width: 800px)
    .projects
        grid-template-columns: 1fr
        grid-template-rows: 1fr
        min-height: 40vh