.social
    height: 300px
    text-align: center

    .social_icons
        li
            display: inline-block
            float: left 
            text-align: center
            letter-spacing: 0px
            padding: 10px
            vertical-align: middle

.fa
    background-color: #1c76ff
    padding: 20px
    font-size: 50px
    height: 60px
    width: 60px
    text-align: center
    text-decoration: none
    border-radius: 50%
    color: white

.fa:hover
    opacity: 0.7