.threeSteps
    display: grid
    grid-template-columns: auto auto auto
    margin: -10% 5% 50px 5%
    text-align: center
    column-gap: 5px

    img
        padding-top: 30px
        height: 100px
        width: auto
        
    p 
        padding: 5% 
        color: #293347
        font-weight: 300
        line-height: 1.7

    .step
        border: 2px solid black
        border-radius: 20px
        background-color: white
