.threeSteps
    display: grid
    grid-template-columns: auto auto auto
    margin: -150px 10px 50px 10px
    text-align: center
    column-gap: 5px

    img
        padding-top: 30px
        height: 100px
        width: auto

    h1
        font-weight: bold 
        font-size: 30px
        color: #293347
        
    p 
        padding: 0px 50px 30px 50px 
        color: #293347

    #step1
        border: 2px solid black
        border-radius: 20px
        background-color: white

    #step2
        border: 2px solid black
        border-radius: 20px
        background-color: white

    #step3
        border: 2px solid black
        border-radius: 20px
        background-color: white

