@import 'variables';
@import 'buttons';
@import 'about';

body {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  p {
    font-size: 16px;
    line-height: 1.4;
  }
}

.site {
  width: 100vw;
  height: 100vh;
  display: flex;
  @media (max-width: 720px) {
    flex-direction: column;
  }
}

.nav,
.content {
  width: 50%;
  height: 100%;
  @media (max-width: 720px) {
    width: 100%;
  }
}

.nav {
  background-color: $dark_purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: $white;
}

.social {
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    padding: 5px;
    .fa {
      font-size: 2rem;
      color: $dark_purple;
    }
  }
}
