@import 'variables';
@import 'buttons';

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  p {
    font-size: 16px;
  }
}

.site {
  width: 100vw;
  height: 100vh;
  display: flex;
  @media (max-width: 720px) {
    flex-direction: column;
  }
}

.nav,
.content {
  width: 50%;
  height: 100%;
  @media (max-width: 720px) {
    width: 100%;
  }
}
.nav {
  background-color: $dark_purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: $white;
}
