@import navbar
@import hero
@import aboutme
@import threeSteps
@import projects
@import languages
@import social
@import modal

body 
    margin: 0
    font-family: Arial, Helvetica, sans-serif

h1, h2
    text-align: center
    color: #293347
    line-height: 1.125
    font-weight: bold 

h1 
    font-size: 51px
    letter-spacing: -2px

h2
    font-size: 30px
    letter-spacing: -1px

h3
    font-size: 30px

p 
    padding: 5% 
    text-align: center
    color: #293347
    font-weight: 300
    line-height: 1.7

.container
    margin: auto   
    min-height: 100vh  
    padding: 15px
    
