.aboutme
    .container
        %h2 Hey, I'm Zak. Nice to meet you.
        %p A calm, confident junior fullstack developer raised in a test-driven, agile environment with daily Scrum meetings. I have learned attention to detail and always take coding one small step at a time. I am engaged from start to finish, never afraid to ask for help and always work from a detailed design sprint. 