.hero
    %h1 From copywriter, to coder.
    %h2 Forged from the fire of an intensive Bootcamp.
    %img{src: "images/hero_pic.png"}/

-#         - title: A coding genius.
-#   descriptor: Fullstack developer within 12 weeks. Insane, right?
-#   image: images/hero_pic.png
