.hero
        %h1 A coding genius
        %h2 Fullstack developer within 12 weeks. Insane, right?
        %img{src: "images/hero_pic"}

-#         - title: A coding genius.
-#   descriptor: Fullstack developer within 12 weeks. Insane, right?
-#   image: images/hero_pic.png
