.hero
    %h1 From creative advertiser, to builder, to coder.
    %h2 The industry's most sought after bootcamp graduate.
    %img{src: "images/hero_pic.png"}/

-#         - title: A coding genius.
-#   descriptor: Fullstack developer within 12 weeks. Insane, right?
-#   image: images/hero_pic.png
