.languages
    %h3 Languages I can use
    - data.languages.each do |languages|
        .showtext
            %ul
                %li
                    %i.none{class: "devicon-#{languages[:icon]}-plain"}
                    %b= languages[:name]
        -# #language-icons-replacement
        -#     = languages[:name]
