%h3 Technologies I use
.languages
    - data.languages.each do |languages|
        %ul
            %li
                %i.none{class: "devicon-#{languages[:icon]}-plain"}
                %b= languages[:name]
