.project-area
    - data.projects.each do |project|
        .project{id: "#{project.id}"}
            .project-main
                .project-title
                    = project[:name]
                .project-info
                    = project[:description]
