.project-area
    - data.projects.each do |project|
        .project
            %div{class: "project-main", style: "background-image: url(#{project[:image]})"}
                .project-title
                    = project[:name]
                .project-info
                    = project[:description]
