.social-links
        %a{href: "https://www.linkedin.com/in/zdh", class: "fa fa-linkedin", target: "_blank"}
        %a{href: "https://github.com/Prozak8", class: "fa fa-github", target: "_blank"}
        %a{href: "https://twitter.com/ZakaryDHoward", class: "fa fa-twitter", target: "_blank"}
        %a{href: "https://www.instagram.com/zakarydh/", class: "fa fa-instagram", target: "_blank"}