.vert-move
  animation: mover 1s infinite alternate

@-webkit-keyframes mover 
  0%  
    transform: translateY(5) 
  100%  
    transform: translateY(-5px) 

.spin
  animation: spinner 3.5s linear infinite

@keyframes spinner
  0% 
    transform: rotate(0deg)
  
  100% 
    transform: rotate(360deg)
  
