@import 'variables'
@import 'layout'
@import 'animations'
@import 'transitions'
@import 'popover'
@import 'utils'
@import 'buttons'

.hyperlink
  text-decoration: none
  cursor: pointer

.h-100
  height: 100%

.vue
  color: $vue_green

.react
  color: $react_blue

.orange
  color: $craft_orange