@import './styles/abstracts/variables'

@import './styles/base/animations'
@import './styles/base/utils'

@import './styles/components/popover'
@import './styles/components/button'

@import 'layout'
@import 'transitions'

.hyperlink
  text-decoration: none
  cursor: pointer

.h-100
  height: 100%

.vue
  color: $vue_green

.react
  color: $react_blue

.orange
  color: $craft_orange