@import 'variables'
*
  margin: 0
  padding: 0

.col
  width: 50%
  height: 100%

.grow
  transition: all .2s ease-in-out
  &:hover
    transform: scale(1.1)

.hyperlink
  text-decoration: none
  color: orange

.flex-center
  display: flex
  justify-content: center
  align-items: center

.container
  padding: 30px
  width: calc(100% - 60px)
  height: calc(100% - 60px)

.mb-1
  margin-bottom: 0.5rem