@import 'variables'

div[data-popover="CA"]
  a 
    display: flex
    align-items: center
    text-decoration: none
    color: $black
    svg
      position: absolute
      color: $craft_orange
      right: 5px
   
